* {
    font-family: Arial;
}

.ex1 {
    display: flex;
    margin-bottom: 50px;
}

.ex1_1 {
    background-color: lightblue;
    width: 200px;
}

.ex1_2 {
    background-color: lightpink;
    width: 75px;
}

.ex2 {
    display: flex;
    margin-bottom: 50px;
}

.e2_1 {
    background-color: lightblue;
    width: 50px;
}
.e2_2 {
    background-color: lightpink;
    flex: 1;
}
.e2_3 {
    background-color: lightblue;
    width: 75px;
}

.ex3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.ex3 div {
    background-color: lightpink;
}

.ex4 {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    height: 50px;
    align-items: center;
    margin-bottom: 50px;
}
.ex4 div {
    background-color: lightpink;
}

.c1 {
    width: 280px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 50px;
}
.cont {
    display: flex;
    justify-content: space-between;
}
.qntd {
    background-color: rgb(41, 141, 235);
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
}

.c2 {
    display: flex;
    width: 800px;
    justify-content: space-between;
    background-color: blueviolet;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 50px;
}
.c2 p {
    color: white;
    width: 100px;
}
.c2 input {
    border: none;
    border-radius: 20px;
    width: 500px;
    padding: 6px 14px;
}
.btn2 {
    width: 140px;
    display: flex;
    justify-content: end;
}
.btn2 button {
    border: 1px solid white;
    color: white;
    background-color: blueviolet;
    padding: 8px;
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.content p {
    margin: 0;
}
.content img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.infos {
    width: 200px;
    padding-left: 14px;
    font-size: 14px;
    color: gray;
}
.name {
    font-weight: 600;
    padding-bottom: 5px;
    color: black;
}
.popular {
    font-size: 12px;
    padding-top: 5px;
}
.content button {
    background-color: rgb(36, 138, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
}
