* {
    margin: 0;
    padding: 0;
}
html {
    margin: 5px 5px;
}
.tahoma {
    font-family: Tahoma;
    font-weight: 600;
    margin-bottom: 50px;
}

.arial {
    font-family: Arial;
    margin-bottom: 50px;
}

.hardarial {
    font-weight: 700;
}

.comentarial {
    color: red;
    font-size: 11px;
    font-style: italic;
}

.verdana {
    font-family: Verdana;
    margin-bottom: 50px;
}

.tittlev {
    font-weight: 600;
}

.tittledesc {
    font-size: 13px;
    color: gray;
    margin-bottom: 16px;
}

.mainv {
    font-size: 13px;
    width: 240px;
    margin-bottom: 15px;
}

.btnv {
    border: none;
    background-color: green;
    color: white;
    padding: 7px 9px;
    border-radius: 5px;
}

.arial2{
    font-family: Arial;
    width: 225px;
    margin-bottom: 100px;
}
.tittlearial2 {
    font-weight: 600;
    margin-bottom: 10px;
}
.descarial2 {
    font-size: 10px;
    margin-bottom: 10px;
    
}
.learnmore {
    font-size: 10px;
    text-decoration: none;
}

.arial2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Challenge*/

.challenge {
    font-family: Arial;
}

.c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin-bottom: 100px;
}

.new {
    color: orange;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 15px;
}

.product {
    font-weight: 700;
    font-size: 20px;
    color: rgb(44, 44, 44);
}

.tittlec {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
    color: rgb(44, 44, 44);
}

.price {
    color: rgb(44, 44, 44);
    margin-bottom: 10px;
}

.btnbuy {
    background-color: rgb(0, 102, 255);
    border: none;
    color: white;
    padding: 7px 15px;
    border-radius: 16px;
    cursor: pointer;
}

.cota {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}
.cota span {
    font-size: 17px;
    color: gray;
}

.today {
    color: green;
    font-size: 16px;
    margin-bottom: 8px;
}

.after {
    color: gray;
    margin-bottom: 100px;
}

.after span {
    color: rgb(209, 5, 5);
}

.c3 {
    margin-bottom: 200px;
    width: 500px;
}

.p1 {
    font-weight: 600;
    margin-bottom: 10px;
}

.p1 span {
    color: gray;
    font-weight: 500;
}

.p2 {
    margin-bottom: 20px;
}

.p3 a {
    text-decoration: none;
    color: rgb(34, 122, 222);
}