.pag {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.btnback {
    padding: 10px;
    margin-right: 18px;
}

.btnnext {
    padding: 10px;
    margin-left: 18px;
}

.numbers {
    width: 100px;
    display: flex;
    justify-content: space-between;
}


.stretch {
    background-color: green;
    border-style: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: padding 1s;
    margin-bottom: 100px;
}
.stretch:hover {
    padding: 25px;
}

.shadow {
    background-color: green;
    color: white;
    border-style: none;
    box-shadow: 2.5px 2.5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 100px;
}

.shadow:active {
    margin-top: 2.5px;
    margin-left: 2.5px;
    box-shadow: 0 0 0;
}
.umdoistres {
    width: 200px;
}

.btns {
    background-color: green;
    color: white;
    border-style: none;
    cursor: pointer;
    transition: padding 0.5s, margin 0.5s;
    margin: 10px;
    padding: 5px;
}

.btns:hover {
    padding: 5px 15px;
    margin-right: 0;
    margin-left: 0;
}
