* {
    margin-bottom: 20px;
}

.uber {
    background-color: black;
    color: white;
    border: none;
    width: 120px;
    height: 36px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.uber:hover {
    opacity: 0.75;
}

.amazon {
    background-color: rgb(255, 216, 20);
    border: none;
    width: 170px;
    height: 36px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.15s;
}

.amazon:hover {
    background-color: rgb(237, 201, 19);
}

.github {
    background-color: rgb(46, 164, 79);
    border: none;
    color: white;
    height: 40px;
    width: 105px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: shadow 0.15s;
}

.github:hover {
    box-shadow: 0 5px 10px rgba(0, 0,0 , 0.25);
}

.bootstrap1, .bootstrap2 {
    border: none;
    font-weight: bold;
    height: 40px;
    width: 120px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.bootstrap1 {
    background-color: rgb(121, 82, 179);
    color: white;
    margin-right: 8px;
}
.bootstrap1:hover {
    background-color: rgb(97, 66, 143);
}
.bootstrap2 {
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(108,117,125);
    color: rgb(108,117,125);
}
.bootstrap2:hover {
    background-color: rgb(108,117,125);
    color: white;
    border-color: white;
}

.linkedin1, .linkedin2 {
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.linkedin1 {
    background-color: rgb(10,102,194);
    color: white;
    border: none;
    width: 220px;
    margin-right: 10px;
}
.linkedin1:hover {
    background-color: rgb(8, 85, 161);
}
.linkedin2{
    background-color: white;
    color: rgb(10,102,194);
    border-color: rgb(10,102,194);
    border-style: solid;
    border-width: 1.5px;
    width: 70px;
}
.linkedin2:hover {
    background-color: rgba(10, 102, 194, 0.1);
    border-width: 2px;
}


.challenge {
    margin-top: 100px;
}

.challenge a {
    color: rgb(0, 113, 133);
}
.challenge a:hover {
    color: rgb(198, 129, 0);
}

.titulochallenge {
    font-weight: bold;
    font-size: 25px;
}
.preco {
    color: rgb(0, 118, 0);
    font-weight: bold;
}

.btn {
    border: none;
    font-size: 15px;
    height: 32px;
    width: 125px;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    opacity: 0.5;
}

#btnaddcarrinho {
    background-color: rgb(255, 216, 20);
    margin-right: 10px;
}

#btncompreagora {
    background-color: rgb(255, 164, 28);
}
